html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.btn-danger {
  background-color: #f84464 !important;
  border-color: #f84464 !important;
}
.btn:focus,
.btn-danger:focus {
  box-shadow: none !important;
}
