:root {
  --seat-width: 34px;
}

.SeatI {
  width: var(--seat-width) !important;
  height: var(--seat-width) !important;
  font-size: calc(var(--seat-width) * 0.4);
  line-height: 18px;
  padding: 0.375rem 0.75rem;
}

.Screen {
}
