.bg-movie {
  min-height: 480px;
  padding: 32px 0px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgb(34, 34, 34);
  margin: 0px auto;
  max-width: 1440px;
}


