.FullPageLoading {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 97%);
}

.FullPageLoading .Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
